table, th, td{
    border: 1px solid black;
    text-align: center;
}

img{
    width: 30px;
    height: 30px;
    /* filter: grayscale(80%); */
    padding: 1px;
}

.heroImg{
    width: 40px;
    height: 25px;
}

.ability{
    width: 30px;
    height: 30px;
}

.abilityHeader{
    width: 30px;
    height: 20px;
}