<button (click)="displayFilter()">Show Filter</button>
<div *ngIf="showFilter">
    <form>
        Date
        <select (change)="date($event.target.value)">
            <option value="none">None</option>
            <option value="option1">Last Week</option>
            <option value="option2">Last Month</option>
            <option value="option3">Last 12 Months</option>
        </select>
        Patch
        <select #selectPatch (change)="patch(selectPatch.value)">
            <option value="none">None</option>
            <option *ngFor="let patch of patchInfo" [value]="patch.id">
                {{patch.name}}
            </option>
        </select>
        Region
        <select id='selectRegion' #selectRegion (change)="region(selectRegion.value)">
            <option value="none">None</option>
            <option *ngFor="let region of regionsList" [value]="region[0]">
                {{region[1]}}
            </option>
        </select>
    </form>
</div>

<br>

<div *ngIf='!displayHeroes; else displayHeroes'>
    <h1>loading...</h1>
</div>

<ng-template #displayHeroes>
    <div style="overflow-x:auto;">
        <table matSort (matSortChange)="sortData($event)">
            <tr>
                <th>Hero</th>
                <th mat-sort-header="matchPlayed">Match Played</th>
                <th mat-sort-header="winPercent">Win %</th>
                <th mat-sort-header="playedWith">Played With</th>
                <th mat-sort-header="winWith">Win With %</th>
                <th mat-sort-header="playedAgainst">Played Against</th>
                <th mat-sort-header="winAgainst">Win Against %</th>
            </tr>
            
            <tr *ngFor="let hero of sortedData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td><span [title]=getHeroName(hero.hero_id)><img src="assets/dota_hero_image/{{heroImage(hero.hero_id)}}"></span></td>
                <td>{{hero.matched_played}}</td>
                <td>{{hero.win |percent:'2.1'}}</td>
                <td>{{hero.played_with}}</td>
                <td>{{hero.win_with |percent:'2.1'}}</td>
                <td>{{hero.played_against}}</td>
                <td>{{hero.win_against |percent:'2.1'}}</td>
            </tr>
        </table>
    </div>
</ng-template>
<!-- <div>
    {{(page-1) * pageSize + 1 }}-{{(page-1) * pageSize + pageSize}}
</div> -->
<div>
    <button (click)="pageSize=10">Page Limit: 10</button>
    <button (click)="pageSize=20">Page Limit: 20</button>
</div>
<ngb-pagination [collectionSize]="playerHeroesStats.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>