<div *ngIf="showRecentMatches" style="overflow-x:auto;">
  <table style="margin-left:auto;margin-right:auto;">
      <tr>
        <th></th>
        <th>Date</th>
        <th>Hero</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Result</th>
      </tr>
      <tr *ngFor = 'let match of recentMatches' [ngSwitch]="getResult(match)">
        <!-- <td><img src="assets/hero_images/{{match.heroName | heroImage}}_full.png" width="50%" height="50%"></td> -->
        <td><img src="assets/dota_hero_image/{{getHeroImage(match.hero_id)}}" width="80" height="45"></td>
        <td>{{match.start_time*1000 | date}}</td>
        <td>{{getHeroName(match.hero_id)}}</td>
        <td>{{match.kills}}</td>
        <td>{{match.deaths}}</td>
        <td>{{match.assists}}</td>
        
        <td *ngSwitchCase="'Won'"><a id="won" (click)="toggleToMatch(match.match_id)">Won</a></td>
        <td *ngSwitchCase="'Lost'"><a id="lost" (click)="toggleToMatch(match.match_id)">Lost</a></td>
        <td *ngSwitchDefault>????</td>

      </tr>

  </table>
</div>