<div *ngIf="showRecentMatches">
  <table>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Hero</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Result</th>
      </tr>
      <tr *ngFor = 'let match of recentMatches' (click)="toggleToMatch(match.match_id)" [ngSwitch]="getResult(match)">
        <!-- <td><img src="assets/hero_images/{{match.heroName | heroImage}}_full.png" width="50%" height="50%"></td> -->
        <td><img src="assets/dota_hero_image/{{getHeroImage(match.hero_id)}}" width="80" height="45"></td>
        <td>{{match.start_time*1000 | date}}</td>
        <td>{{getHeroName(match.hero_id)}}</td>
        <td>{{match.kills}}</td>
        <td>{{match.deaths}}</td>
        <td>{{match.assists}}</td>
        
        <td *ngSwitchCase="'Won'" id = "won">Won</td>
        <td *ngSwitchCase="'Lost'" id = "lost">Lost</td>
        <td *ngSwitchDefault>????</td>

      </tr>

  </table>
</div>
