

<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Dota 2 Application</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div> -->
        <ul class="nav navbar-nav">
          <li><a routerLink='/player'>RECENT MATCHES</a></li>
          <li><a routerLink='/heroes'>HEROS</a></li>
        </ul>
      </div>
    </nav>
    
    <!-- <div class="panel-body">
      <a routerLink='/player'>RECENT MATCHES</a> |
      <a routerLink='/heroes'>HEROS</a>
      <router-outlet></router-outlet>
    </div> -->
    
    <router-outlet></router-outlet>
    
  </div>
</div>

