<p>match-detail works!</p>

<h1>Match ID: {{matchId}}</h1>
<div [ngSwitch]= "radiantWin">
    <h1 *ngSwitchCase="true" id="radiantVictory">RADIANT VICTORY</h1>
    <h1 *ngSwitchCase="false" id="direVictory">DIRE VICTORY</h1>
    <div id = "matchStats">
        <h1 id="radiantScore">{{radiantScore}}</h1><h1 id=duration> {{duration | secToMin}} </h1><h1 id="direScore">{{direScore}}</h1>
    </div>
</div>
<table>
    <th></th>
    <th>Kills</th>
    <th>Death</th>
    <th>Assists</th>
    <th>Items</th>

    <tr *ngFor = "let player of players">
        <td><img src="assets/dota_hero_image/{{getHeroImage(player.hero_id)}}"></td>
        <td>{{player.hero_kills}}</td>
        <td>{{player.deaths}}</td>
        <td>{{player.assists}}</td>
        <div id = "item_slot">
            <td><img src="{{getItemImage(player.item_0)}}" onerror="this.style.display='none'"></td>
            <td><img src="{{getItemImage(player.item_1)}}" onerror="this.style.display='none'"></td>
            <td><img src="{{getItemImage(player.item_2)}}" onerror="this.style.display='none'"></td>

            <td><img src="{{getItemImage(player.item_neutral)}}" onerror="this.style.display='none'"></td>
        </div>
        <div id = "item_slot">
            <td><img src="{{getItemImage(player.item_3)}}" onerror="this.style.display='none'"></td>
            <td><img src="{{getItemImage(player.item_4)}}" onerror="this.style.display='none'"></td>
            <td><img src="{{getItemImage(player.item_5)}}" onerror="this.style.display='none'"></td>
        </div>
        <div id = "item_slot">
            <td><img src="{{getItemImage(player.backpack_0)}}" onerror="this.style.display='none'"></td>
            <td><img src="{{getItemImage(player.backpack_1)}}" onerror="this.style.display='none'"></td>
            <td><img src="{{getItemImage(player.backpack_2)}}" onerror="this.style.display='none'"></td>
        </div>
        
    
    
    </tr>
</table>