id, h1{
    display: inline;
}

#radiantScore{
    color: green;
}

#direScore{
    color: red;
}

#duration{
    color: darkgray;
}

#radiantVictory{
    color: darkgreen;
}

#direVictory{
    color: darkred;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
}

td{
    padding: 10px;
}
img{
    width: 60px;
    height: 40px;
}

#item_slot td{
    width: 50px;
    height: 40px;
    padding: 1px;
}

#item_slot img{
    width: 100%;
    /* height: 100%; */
    /* display: block; */
    /* vertical-align: bottom; */
}